* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display:none;
  position:absolute;
  width:80%;
  margin-top:45px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: 0px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.navbarnew {
    font-size: 18px;
    background-color: #2376ae;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
}

.mainnew-nav {
    list-style-type: none;
    display: none;
    margin-top:5px;
}

.navnew-links,
.logonew {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.mainnew-nav li {
    text-align: center;
    margin: 15px auto;
}

.logonew {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbarnew-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.active {
  display: block;
}
nav li a:focus, nav li a:hover {
        text-decoration: none;
  }
  
.carousel {
  height: 350px;
  margin-bottom: 60px;
  margin-top: 60px;
}
.carousel-caption {
  z-index: 10;
  color:#fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel .item {
  height: 350px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}
 .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  
.nextbutton{
float:right; margin-right:25px;

}
.prevbutton{
float:left;
}

input[type=text]
{
    color:#000;
}
.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 24px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.example button:hover {
  background: #0b7dda;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}    
    
.section_title_container
{
  background-color:#E0E0F8;
  margin: 0 auto;
}
.section_title
{
  padding-top:30px;
  line-height: 1.2;
  color: #097CFF;
  font-size:30px;
}
.section_subtitle
{
  max-width: 80%;
  margin:auto;
  line-height: 1.85;
  margin-top: 14px;
  width:100%;
  font-size: 20px;
  padding-bottom:15px;
  
}
  
 .features_row
{
  margin-top: 55px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
.feature
{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.feature:hover
{
 /* box-shadow: 0px 5px 40px rgba(29,34,47,0.15);*/
}
.feature_icon
{
  height: 55px;
}
.feature_icon img
{
  max-width: 100%;
}
.feature_title
{
  position: relative;
  font-size: 20px;
  margin-top: 23px;
} 
.feature_col
{
  padding-top:20px;
}
.courses
{
  width: 100%;
  margin-top:60px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:#E0E0F8;
}
.courses_row
{
  margin-top: 45px;
}
.course
{
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
}
.course_image
{
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
.course_image img
{
  max-width: 100%;
}
.course_body
{
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 23px;
}
.course_title a
{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.course_title a:hover
{
  color: #14bdee;
}
.course_teacher
{
  font-size: 15px;
  font-weight: 400;
  color: #384158;
  margin-top: 6px;
}
.course_text
{
  margin-top: 13px;
}
.course_footer
{
  padding-left: 30px;
  padding-right: 30px;
}
.course_footer_content
{
  width: 100%;
  border-top: solid 1px #e5e5e5;
  padding-top: 9px;
  padding-bottom: 11px;
}
.course_info
{
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #55555a;
}
.course_info:first-child
{
  margin-right: 18px;
}
.course_info i
{
  color: #ffc80a;
}
.course_price
{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  color: #14bdee;
}
.course_price span
{
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  color: #b5b8be;
  margin-right: 10px;
}
.courses_button
{
  width: 210px;
  height: 46px;
  border-radius: 3px;
  background: #14bdee;
  text-align: center;
  margin: 0 auto;
  margin-top: 41px;
  box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.courses_button:hover
{
  box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
}
.courses_button a
{
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 46px;
  color: #FFFFFF;
}

.course_col
{
   padding-top:20px;
}

.middiv{
    width: 100%;
    margin-top:-20px;
    background-color: #fff;
    margin-bottom:50px;
}

.middivh1{
    text-align: center;
    padding-top: 60px;
    color:#097CFF;
    font-size:30px;
}

.middivp{
    text-align: center;
    font-size: 20px;
    color:#4C4850;
    margin-left:5px;
    margin-right:5px;
    margin-top:20px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:20px;
}

@media screen and (max-width: 768px) {
    
    .middivp{
    padding-left:10px;
    padding-right:10px;
    }
}

.divmcq{
    text-align: center;
    color: #097CFF;
    margin-top: 40px;
    padding-top:50px;
    padding-bottom:40px;
}

.newmcq{
    background-color:#E0E0F8;
    padding-bottom:30px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  margin-top:25px;
  font-size:18px;
}

.myFooter{
    background-color:#2376ae;
    text-align:center;
}

.footerfollow{
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
    color:#fff;
    padding-top:10px;
}
.footer-social{
   
   padding-top:7px;
   padding-bottom:7px;
}

.myFooter img{
    font-size: 36px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    margin:0px 5px 0px 5px;
    padding: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

.mcq{
	margin:2% 0% 2% 0%;
	font-family: "Cambria", Times, serif;
    padding-top:10px;
    padding-right:15px;
}

.ques{
	
	font-size: 20px;
}
.options{
	margin-top: 1%;
	font-size: 17px;
	margin-left: 2%;
}

.showanswer {
	font-size: 15px;
    margin-top: 1.5%;
  margin-left: 3.5%;  

 }
 .view{
 	font-size: 17px;
 	margin-left:2%; 
 	border-bottom: 1px solid black;
cursor: default;

 }
 .view:hover{
 	background-color: rgb(0,0,0,.2);
  cursor: default;

 }

 .prog{
 	border:1px solid black;
        background-color:#EEEEFF;
        width:300px;
        overflow:auto;    
        padding:10px;
 }

 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}

.cent{
font-family: Arial, Helvetica, sans-serif;
font-size:20px;
}

.area1{
width: 90%;
margin:auto;
padding: 12px 20px;
margin-top: 18px;
border: 1px solid #ebebeb;
background: #f7f7f7;
color: #383749; 
outline: none;
}

.inpu1{
padding: 16px 32px;
margin-top: 40px;
margin-bottom: 10px;
border: 0;
border-radius: 2px;
font-size: 13px;
font-weight: 600;
line-height: 1;
color: #fff;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.1rem;
outline: none;
cursor: pointer;
background: #19c880;
}

.di1{
margin: 0% 0% 5% 0% ;
padding: 0% 0% 10% 0%;
}

.di2{
width:100%;
display:block;
background: #f7f7f7;
color: #383749;  
}

.uname1{
width: 100%;
 margin-left:2%;
font-weight:200px;
color:#000611;
 font-size:17px; 
padding-top:15px;
font-family: Arial, Helvetica, sans-serif;

}

.uname2{
width: 100%;
 margin-left:5%; 
font-weight:200px;
font-size:15px;
padding-top:15px;
 font-family: "Times New Roman", Times, serif;
}

.di3{
margin:5% 0% 5% 0%;
}

.di4{
width: 100%;
}

.columns {
display: inline-block;
width: 30%;
padding: 15px;
margin-top: 10px;
border:none;
}
.price {
list-style-type: none;
border: 1px solid #eee;
margin: 0;
padding: 0;

-webkit-transition: 0.3s;
transition: 0.3s;
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .hea {
background-color: #FFF;
color: rgb(0,0,0,.8);
font-size: 20px;
}
.price li {
border-bottom: 1px solid #eee;
padding: 12px;
text-align: center;
}

.clink{
    color:rgb(0,0,0,.8);
}

a {
    text-decoration: none !important;
}

.abma{
    margin-left:90px;
}

.abhelp{
    padding: 10px 10px 10px 15px;
    margin-left: 30px;
}


.topic a{
width:100%;
text-align:center;
background-color:;
display:block;
font-size:20px;
color:#5B6D79;
padding-top:5px;
border-bottom:1px solid rgba(0,0,0,.2);
text-decoration:none;

}

.mcqtopic{
margin-top:20px;
padding-bottom:30px;
}

.container{
padding-left:0px;
}
.content{
width:100%;
background:white;
padding-left:30px;

}

.contentp{
    font-size: 20px;margin-top: 20px;
}

.col-md-8{
padding-right:0px;
}

a:visited 
{
    text-decoration: none; 
    decoration: none; 
}

@media only screen and (max-width: 900px) {
.columns {
width: 45%;
}
}
@media only screen and (max-width :600px)
{
.columns {
width: 95%;
}
.abma{
    margin-left:10px;
}
.contentp{
    font-size:17px;
}
}

  #more{
    display: none;
  }


@media screen and (min-width: 768px) {

    .navbarnew {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .mainnew-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .mainnew-nav li {
        margin: 0;
    }

    .navnew-links {
        margin-left: 40px;
    }

    .logonew {
        margin-top: 0;
    }

   .navbarnew-toggle {
       display: none;
    }

    .logonew:hover,
    .navnew-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    
 }
 
@media screen and (max-width: 350px){
   
   
    .carousel-caption{
        left:auto;
        right:auto;
    }
}

pre.result {
    padding: .625rem;
    font-size: .95em;
    overflow-x: auto;
}
.result {
    background: #eee !important;
    border: 1px solid #d6d6d6 !important;
}
pre {
    font-family: monospace,monospace;
    font-size: 1em;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
 